// 1rst color scheme
$white: #fff;
$isabeline: #ececec;
$light-gray: #d1d1d1;

// 2nd color scheme
$smoky-black: #0c0910;
$granite-gray: #646266;
$quick-silver: #a6a5a8;

// Typography
$old-standard: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

// Font-sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

// Font weight
$font-bold: 700;
$font-regular: 400;