@charset "UTF-8";
/**
  * Patrón 7-1
  *
  * Esta es la estructura del patrón 7-1 utilizado en DesafíoLatam
  * para la enseñanza del uso correcto de patrones dentro de CSS y
  * también para la utilización de éste dentro de estructuras de 
  * trabajo colaborativo.
  *
  * @author Cristóbal Domínguez <cristobald@me.com>
  * @since 1.0
  *
  */
/*
 *
 * La carpeta abstracts/ reune todas las herramientas de SASS para el proyecto.
 * Cada variable global, función, mixin o placeholder debería estar aquí dentro.
 * 
 * La regla de oro para esta carpeta es que no deberá imprimir ni una sola línea
 * de código en el momento de la compilación del CSS. Nada como los helpers de Sass.
 * 
 * Cuando se trabaja en un proyecto muy grande con muchos archivos abstracts, podría
 * ser más interesante agruparlos por tópicos en vez de por tipo. Un ejemplo sería
 * crear las instancias typography (_typography.scss), theming (_theming.scss), etc.
 * Cada archivo contendría todos los helpers relacionados a esa instancia: variables, 
 * functions, mixins y placeholders. Hacerlo así podría hacer el código más sencillo de 
 * de mantener, especialmente cuando los archivos empiezan a crecer mucho.
 * 
 * Nota:
 * La carpeta abstracts/ podría llamarse utilities/ o helpers/, dependiendo de lo que
 * se prefiera.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
/*
 *
 * Este archivo contiene las referencias del código boilerplate de tu proyecto.
 * Aquí podrás encontrar referencias al archivo _reset.scss, a las tipografías
 * y probablemente algún otro archivo de estilos que defina de una forma estándard
 * los estilos de elementos usados en HTML.
 *
 *
 * Nota: 
 * Si tu proyecto usa muchas animaciones, deberías considerar agregar dentro de
 * esta carpeta un archivo /_animations.scss que contenga las definiciones de los
 * @keyframes de todas tus animaciones.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
body, ul {
  line-height: 1;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, label {
  font-family: "Old Standard TT", serif;
}

/*
 *
 * Esta carpeta contiene todo lo que hace relación con el sitio web o la aplicación.
 * Aquí encontrarás los estilos para las partes principales del sitio (header, footer, 
 * navegacion, sidebar, etc), el sistema de grillas o incluso los estilos de los formularios
 *
 *
 * Nota:
 * La carpeta layout/ también podría ser llamada partials/, dependiendo de la 
 * preferencia del desarrollador.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 101.4px 1fr 2fr;
  grid-template-areas: "nav" "rs" "ls";
}

@media only screen and (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 101.4px auto;
    grid-template-areas: "nav nav" "ls rs";
  }
}
.seccion-izquierda {
  grid-area: ls;
}
.seccion-izquierda__about {
  padding: 3rem 5rem;
}
.seccion-izquierda__about-titulo {
  font-size: 3.125pxem;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.2em;
}
.seccion-izquierda__about-contenido {
  font-size: 1.125pxem;
  line-height: 1.7em;
  color: #646266;
}
.seccion-izquierda__newsletter {
  background-color: #0c0910;
  color: #fff;
  padding: 1rem 5rem;
  box-sizing: border-box;
  position: relative;
  min-height: 172px;
}
.seccion-izquierda__subscribe {
  position: absolute;
  top: 58px;
  right: -58px;
  transform: rotate(90deg);
  background-color: white;
  color: black;
  width: 172px;
  text-align: center;
}

.seccion-derecha {
  grid-area: rs;
  height: 100%;
  width: 100%;
}
.seccion-derecha__img {
  height: 100%;
  background-color: black;
  background-image: url("../../assets/img/man.jpg");
  background-size: cover;
  background-position: top center;
}

.formulario__label {
  display: block;
  padding-bottom: 0.5em;
}
.formulario__input {
  width: 70%;
  padding: 0.5em;
}

/*
 * 
 * Esta carpeta fue creada para componentes o módulos pequeños como por ejemplo: 
 * sliders, loaders, widgets, etc. A diferencia de la carpeta layout/ donde almacenaremos
 * los componentes que definan el wireframe del sitio/aplicación, aquí encontraremos
 * componentes que aportarán más contenido que una estructura visual.
 * 
 * Usualmente deberían haber muchos archivos en components/ debido a que los 
 * sitios/aplicaciones se empezaron a crear en base a pequeños módulos de código.
 * 
 * Nota:
 * Esta carpeta también se podría llamar modules/, dependiendo de cómo tu la prefieras.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
.main-header {
  grid-area: nav;
}

.navegacion {
  position: relative;
}
.navegacion__logo {
  position: absolute;
  top: 0;
  left: 0;
}
.navegacion__plegable {
  text-align: right;
}
.navegacion__plegable label {
  font-size: 1.8rem;
}
.navegacion__plegable label i {
  padding: 2.2rem;
}
.navegacion #menu {
  display: none;
}
.navegacion input:checked ~ .navegacion__container {
  max-height: 100%;
}
.navegacion__container {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
.navegacion__item {
  display: block;
  text-align: center;
  margin: 0 1em;
  padding: 1em 0.5em;
  border-bottom: solid 1px #646266;
}
.navegacion__lista {
  display: block;
  text-align: center;
}
.navegacion__lista .navegacion__item:last-child {
  border-bottom: none;
}
.navegacion__link {
  color: #0c0910;
  font-size: 0.875pxem;
  font-weight: 700;
  padding: 0.5em 1em;
}
.navegacion__link:hover {
  color: #a6a5a8;
}

@media only screen and (min-width: 769px) {
  .navegacion__logo {
    transform: rotate(270deg);
    position: absolute;
    top: 0;
    left: 0;
  }
  .navegacion__plegable label {
    display: none;
  }
  .navegacion__container {
    max-height: 100%;
    padding: 2em;
    overflow: visible;
  }
  .navegacion__lista {
    display: flex;
    justify-content: flex-end;
    pad: inherit;
    margin: inherit;
  }
  .navegacion__item {
    display: inline-block;
    text-align: center;
    margin: 0 1em;
    padding: 1em 0.5em;
    border-bottom: none;
  }
  .navegacion__link {
    padding: 2em;
    color: #0c0910;
    font-size: 0.875pxem;
    font-weight: 700;
  }
  .navegacion__link:hover {
    color: #a6a5a8;
  }
}
.btn-pmry {
  border: solid 1px black;
  background-color: #fff;
  color: #0c0910;
  font-weight: 700;
  padding: 1em;
}
.btn-pmry:hover {
  border: solid 1px #a6a5a8;
}
.btn-pmry:focus {
  color: #a6a5a8;
  border: solid 1px #a6a5a8;
}

/*# sourceMappingURL=main.css.map */
