body, ul {
  line-height: 1;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, label {
  font-family: "Old Standard TT", serif;
}

.menu-header {
  grid-area: nav;
}

.navegacion {
  position: relative;
}
.navegacion__logo {
  position: absolute;
  top: 0;
  left: 0;
}
.navegacion__plegable {
  text-align: right;
}
.navegacion__plegable label {
  font-size: 1.8rem;
}
.navegacion__plegable label i {
  padding: 2.2rem;
}
.navegacion #menu {
  display: none;
}
.navegacion input:checked ~ .navegacion__container {
  max-height: 100%;
}
.navegacion__container {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
.navegacion__item {
  display: block;
  text-align: center;
  margin: 0 1em;
  padding: 1em 0.5em;
  border-bottom: solid 1px #646266;
}
.navegacion__lista {
  display: block;
  text-align: center;
}
.navegacion__lista .navegacion__item:last-child {
  border-bottom: none;
}
.navegacion__link {
  color: #0c0910;
  font-size: 0.875pxem;
  font-weight: 700;
  padding: 0.5em 1em;
}
.navegacion__link:hover {
  color: #a6a5a8;
}

@media only screen and (min-width: 769px) {
  .navegacion__logo {
    transform: rotate(270deg);
    position: absolute;
    top: 0;
    left: 0;
  }
  .navegacion__plegable label {
    display: none;
  }
  .navegacion__container {
    max-height: 100%;
    padding: 2em;
    overflow: visible;
  }
  .navegacion__lista {
    display: flex;
    justify-content: flex-end;
    pad: inherit;
    margin: inherit;
  }
  .navegacion__item {
    display: inline-block;
    text-align: center;
    margin: 0 1em;
    padding: 1em 0.5em;
    border-bottom: none;
  }
  .navegacion__link {
    padding: 2em;
    color: #0c0910;
    font-size: 0.875pxem;
    font-weight: 700;
  }
  .navegacion__link:hover {
    color: #a6a5a8;
  }
}
.btn-pmry {
  border: solid 1px black;
  background-color: #fff;
  color: #0c0910;
  font-weight: 700;
  padding: 1em;
}
.btn-pmry:hover {
  border: solid 1px #a6a5a8;
}
.btn-pmry:focus {
  color: #a6a5a8;
  border: solid 1px #a6a5a8;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 101.4px 1fr 2fr;
  grid-template-areas: "nav" "rs" "ls";
}

@media only screen and (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 101.4px auto;
    grid-template-areas: "nav nav" "ls rs";
  }
}
.seccion-izquierda {
  grid-area: ls;
}
.seccion-izquierda__about {
  padding: 3rem 5rem;
}
.seccion-izquierda__about-titulo {
  font-size: 3.125em;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.2em;
}
.seccion-izquierda__about-contenido {
  font-size: 1.125em;
  line-height: 1.7em;
  color: #646266;
}
.seccion-izquierda__newsletter {
  background-color: #0c0910;
  color: #fff;
  padding: 1rem 5rem;
  box-sizing: border-box;
  position: relative;
  min-height: 172px;
}
.seccion-izquierda__subscribe {
  position: absolute;
  top: 58px;
  right: -58px;
  transform: rotate(90deg);
  background-color: white;
  color: black;
  width: 172px;
  text-align: center;
}

.seccion-derecha {
  grid-area: rs;
  height: 100%;
  width: 100%;
}
.seccion-derecha__img {
  height: 100%;
  background-color: black;
  background-image: url("../../assets/img/man.jpg");
  background-size: cover;
  background-position: top center;
}

.formulario__label {
  display: block;
  padding-bottom: 0.5em;
}
.formulario__input {
  width: 70%;
  padding: 0.5em;
}

/*# sourceMappingURL=main.css.map */
